<div class="wrapper">
  <div class="checkout container">
    <div class="content">

      <div class="form-container radius-box glassy-bg small-10 small-centered medium-8 large-6 columns">
        <h2 class="mbs">New Transaction</h2>
        <%= form_tag checkouts_path do%>
          <p>Please enter your payment details:</p>
          <label for="amount">
            <span class="input-label">Amount</span>
            <div class="input-wrapper amount-wrapper">
              <input id="amount" name="amount" type="tel" min="1" placeholder="Amount" value="">
            </div>
          </label>
          <div id="dropin"></div>
          <%=submit_tag "Submit", class: "button large primary expanded hollow" %>
        <%end%>
      </div>
    </div>
  </div>
</div>

<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<script>
  (function () {
    var checkout = new Demo({
      formID: 'payment-form'
    });
    var client_token = "<%= @client_token %>";
    braintree.setup(client_token, "dropin", {
      container: "bt-dropin"
    });
  })()
</script>
