<div class="row">
  <div class="medium-6 small-12 large-6 columns">
    <div class="profile-card">
      <%=image_tag 'jonathan.jpg'%>
      <div class="profile-info">
        <strong><h4 class="subheader">Jonathan</h4></strong>
        <p>
          Jonathan is a web developer from Alameda, CA.
        </p>
        <p>Phone: (510) 921-4873</a> | <a href="mailto:jortiz6499@gmail.com">jortiz6499@gmail.com</a></p>
        <ul class="menu">
            <li>
                <a href="https://www.facebook.com/"><i class="fi-social-facebook"></i></a>
            </li>
            <li>
                <a href="https://twitter.com/jortiz"><i class="fi-social-twitter"></i></a>
            </li>
            <li>
                <a href="https://www.github.com/jortiz31"><i class="fi-social-github"></i></a>
            </li>
          </ul>
      </div>
    </div>
  </div>
  <div class="medium-6 small-12 large-6 columns">
    <div class="profile-card">
      <%= image_tag 'eric.jpg'%>
      <div class="profile-info">
        <strong><h4 class="subheader">Eric</h4></strong>
        <p>
          Eric is a web developer living in San Francisco, origianlly born in San Jose. He lived in Taiwan for 7 years when he was teenager. He knows Japanese, Chinese, and English
          languages. He was a sushi chef before. He has lived in New Jersey, San Diego, and Colorado, before finally settling in the bay area.
          He enjoys golf very much. His best score was an 82 in Monterey. His hobbies include lifting weights, boxing at the Park Gym,
          relaxing, eating great Japanese food, and hanging out with family and friends. He's going to Santa Clara University in fall of
          2016 and is planning to obtain a master's in Computer Science. Eric is an active Christian who volunteers at Cornerstone Church
          located in the Mission District in San Francisco.
        </p>
        <p>Phone: (408)609-8842 | <a href="mailto:scoobaroo415@gmail.com">scoobaroo415@gmail.com</a></p>
        <ul class="menu">
          <li>
              <a href="https://www.facebook.com/"><i class="fi-social-facebook"></i></a>
          </li>
          <li>
              <a href="https://twitter.com/mild7intl"><i class="fi-social-twitter"></i></a>
          </li>
          <li>
              <a href="https://www.github.com/scoobaroo"><i class="fi-social-github"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
