<div class="parallax-background">
  <div class="intro-text">
    <h2>Are you</h2>
    <a href="#mainsection"><i class="fi-arrow-down"></i></a>
    <h2>2 Golf?</h2>
  </div>
</div>

<div id="mainsection" class="parallax-content">
  <div class="row pad-down">
    <div class="large-6 small-12 columns">
      <img src="http://the1perspective.com/jonatron/DOWN2GOLF.png" class="logolg" alt="Down2Golf" />
    </div>
    <div class="large-6 small-12 columns">
      <h1 class="text-left">Down2Golf</h1>
      <p class="text-left">
        Bacon ipsum dolor sit amet chicken pork loin hamburger ball tip, swine tenderloin salami meatball boudin tri-tip fatback shank bacon. Pork salami kevin, brisket spare ribs strip steak ham hock porchetta. Pork belly short loin tail porchetta. Pork pig meatball, beef ribs doner jerky tri-tip hamburger filet mignon strip steak ball tip ham tail tongue corned beef.
      </p>
      <a href="#" class='button large'>Learn more</a>
    </div>
  </div>

  <div class="row pad-down price-row">
  <div class="large-6 medium-6 small-12 small-centered columns">
     <ul class="pricing-table active-tb shadow mrgn-20-top">
       <li class="title">Free Player</li>
       <li>Send Unlimited Messages</li>
       <li>Join Unlimited Matches</li>
       <li>Create 5 Matches</li>
       <li>Price: $0</li>
       <li class="cta-button"> <%= link_to 'Free', courses_path, class: 'button expanded large' %> </li>
     </ul>
   </div>
  <div class="large-6 medium-6 small-12 small-centered columns">
     <ul class="pricing-table active-tb shadow mrgn-20-top">
       <li class="title">Pro Player</li>
       <li>Send Unlimited Messages</li>
       <li>Join Unlimited Matches</li>
       <li>Create Unlimited Matches</li>
       <li class="price">$9</li>
       <li class="cta-button"><%= link_to 'Pro', new_checkout_path, class: 'button expanded large' %></li>
     </ul>
   </div>
</div>
