<div class="parallax-background">
  <div class="intro-text">
    <h2>Are you</h2>
    <a href="#mainsection"><i class="fi-arrow-down"></i></a>
    <h2>2 Golf?</h2>
  </div>
</div>

<div id="mainsection" class="parallax-content">
  <div class="row pad-down">
    <div class="large-6 small-12 columns">
      <img src="http://the1perspective.com/jonatron/DOWN2GOLF.png" class="logolg" alt="Down2Golf" />
    </div>
    <div class="large-6 small-12 columns">
      <h1 class="text-left">Down2Golf</h1>
      <p class="text-left">
        Down to Golf is a social golfing app for local golfers in the Bay Area, This app allows you to meet, play and rate other golfers that love to play golf, just like you. Use our free service and join as many matches as you want, or go Pro for a one time fee of only $9.00 and create and host an unlimited amount of golf matches. Our weather API shows you if the weather is pleasant enough to golf in and our Google API allows you to see where each match is located at. Enjoy and happy golfing!
      </p>
      <%= link_to "About The Developers", about_path, class:'button large'%>
    </div>
  </div>

  <div class="row pad-down price-row">
  <div class="large-6 medium-6 small-12 small-centered columns">
     <ul class="pricing-table active-tb shadow mrgn-20-top">
       <li class="title">Free Player</li>
       <li>Send Unlimited Messages</li>
       <li>Join Unlimited Matches</li>
       <li>Create 5 Matches</li>
       <li>Price: $0</li>
       <li class="cta-button"> <%= link_to 'Free', courses_path, class: 'text-transform button expanded large' %> </li>
     </ul>
   </div>
  <div class="large-6 medium-6 small-12 small-centered columns">
     <ul class="pricing-table active-tb shadow mrgn-20-top">
       <li class="title">Pro Player</li>
       <li>Send Unlimited Messages</li>
       <li>Join Unlimited Matches</li>
       <li>Create Unlimited Matches</li>
       <li class="price">Price: $9</li>
       <li class="cta-button"><%= link_to 'Pro', new_checkout_path, class: 'text-transform button expanded large' %></li>
     </ul>
   </div>
</div>
