/*
 * app/assets/stylesheets/application.css
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require chosen
 *= require main
 *= require ImageSelect

 */
 @import 'chosen';

 @font-face {
   font-family: "foundation-icons";
   src: font-url( asset-path("foundation-icons.eot") );
   src: font-url( asset-path("foundation-icons.eot?#iefix") ) format("embedded-opentype"),
        font-url( asset-path("foundation-icons.woff") ) format("woff"),
        font-url( asset-path("foundation-icons.ttf") ) format("truetype"),
        font-url( asset-path("foundation-icons.svg#fontcustom") ) format("svg");
   font-weight: normal;
   font-style: normal;
 }
 .messages {
   max-height: 400px;
   overflow-y: auto;
   margin-bottom: 1em;
   margin-top: 1em;
 }
