$menu-background: #2ecc71;

@import url(https://fonts.googleapis.com/css?family=Marvel:400,700);

body, h1,h2,h3,h4,h5 {font-family: 'Marvel';}

// $grid-column-gutter: 30px;

.title-bar {
  background: $menu-background;
  padding: 0.9rem;
  box-shadow: 1px 2px 2px #7f8c8d;
}

.top-bar {
  background: $menu-background;
  box-shadow: 1px 2px 2px #7f8c8d;

  ul {
    background: $menu-background;

    li {
      background: $menu-background;

        a {
          color: #fff;
      }
    }
  }
}

.title-bar-title a {
  color: #fff;
}

.menu-text {
  color: #fff;

  @media only screen and (max-width: 40em) {
    display: none !important;
  }
}

@media only screen and (min-width: 40em) {
  .menu:last-child {
    border-left: 1px solid #fff;
  }

  .menu:first-child {
    border-left: none;
  }

  .menu {
    li:not(:last-child) {
      border-right: 1px solid #fff;
    }
  }
}

.dropdown.menu .submenu {
  border: none;
}

.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow>a::after {
  border-color: #fff transparent transparent;
}

.is-drilldown-submenu-parent>a::after {
  border-color: transparent transparent transparent #fff;
}

.js-drilldown-back::before {
  border-color: transparent #fff transparent transparent;
}


// CUSTOM STYLING IMAGE
.fixed-image {
  max-width: 100% !important;
  height: auto;
  margin: 5px 0 10px 0;
  display: block;
}

.pad-down {
  padding: 12px 0 12px 0;
}

.user-text {
  margin-top: 12px;
  padding-right: 17px;
  color: #fff;
}


.menu {
  li {
    text-align: center;
  }
}

.userimg {
  max-width: 100%;
  max-height: 100%;
}

// MAILBOX CSS

.pricing-table {
  border: solid 1px #DDDDDD;

  li {
    border-bottom: dotted 1px #DDDDDD;
    font-size: 1.15rem;
    padding: 0.875rem 1.125rem;
    &:last-child {
      border-bottom: 0;
    }
  }

  .title {
    background-color: #2ecc71;
    color: #EEEEEE;
    font-size: 0.875rem;
    border-bottom: 0;
  }

}
