
$menu-background: #c0392b;

@import url(https://fonts.googleapis.com/css?family=Marvel:400,700);

body, h1,h2,h3,h4,h5 {font-family: 'Marvel';}

// $grid-column-gutter: 30px;

.title-bar {
  background: $menu-background;
  padding: 0.9rem;
}

.top-bar {
  background: $menu-background;

  ul {
    background: $menu-background;

    li {
      background: $menu-background;

        a {
          color: #fff;
      }
    }
  }
}

.menu-text {
  color: #fff;

  @media only screen and (max-width: 40em) {
    display: none !important;
  }
}

@media only screen and (min-width: 40em) {
  .menu:last-child {
    border-left: 1px solid #fff;
  }

  .menu:first-child {
    border-left: none;
  }

  .menu {
    li:not(:last-child) {
      border-right: 1px solid #fff;
    }
  }
}

.dropdown.menu .submenu {
  border: none;
}

.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow>a::after {
  border-color: #fff transparent transparent;
}

.is-drilldown-submenu-parent>a::after {
  border-color: transparent transparent transparent #fff;
}

.js-drilldown-back::before {
  border-color: transparent #fff transparent transparent;
}


// CUSTOM STYLING IMAGE
.fixed-image {
  max-width: 100% !important;
  height: auto;
  margin: 5px 0 10px 0;
  display: block;
}

.pad-down {
  margin-top: 10px;
}

.user-text {
  margin-top: 12px;
  padding-right: 17px;
  color: #fff;
}

.callout.alert {
  border: 3px solid #D91E18;
  border-radius: 5px;
  background-color:rgba(217, 30, 24, 0.2);
  font-size: 1em;
}

.callout.success {
  border: 3px solid #1E824C;
  border-radius: 5px;
  background-color:rgba(30, 130, 76, 0.2);
}


.callout {
  i {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: .2em .4em;
    margin-right: 0.8rem;
  }
}

.menu {
  li {
    text-align: center;
  }
}
