$menu-background: #2ecc71;

@import url(https://fonts.googleapis.com/css?family=Marvel:400,700);

body, h1,h2,h3,h4,h5 {font-family: 'Marvel';}

// $grid-column-gutter: 30px;

// NAV CUSTOM CSS
.title-bar {
  background: $menu-background;
  padding: 0.9rem;
  box-shadow: 1px 2px 2px #7f8c8d;
}

.top-bar {
  background: $menu-background;
  box-shadow: 1px 2px 2px #7f8c8d;

  ul {
    background: $menu-background;

    li {
      background: $menu-background;

        a {
          color: #fff;
      }
    }
  }
}

.title-bar-title a {
  color: #fff;
}

.menu-text {
  color: #fff;

  @media only screen and (max-width: 40em) {
    display: none !important;
  }
}

@media only screen and (min-width: 40em) {
  .menu:last-child {
    border-left: 1px solid #fff;
  }

  .menu:first-child {
    border-left: none;
  }

  .menu {
    li:not(:last-child) {
      border-right: 1px solid #fff;
    }
  }
}

.menu {
  li {
    text-align: center;
  }
}

.dropdown.menu .submenu {
  border: none;
}

.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow>a::after {
  border-color: #fff transparent transparent;
}

.is-drilldown-submenu-parent>a::after {
  border-color: transparent transparent transparent #fff;
}

.js-drilldown-back::before {
  border-color: transparent #fff transparent transparent;
}


// CUSTOM STYLING IMAGE
.fixed-image {
  max-width: 100% !important;
  height: auto;
  margin: 5px 0 10px 0;
  display: block;
}

.pad-down {
  padding: 12px 0 12px 0;
}

.user-text {
  margin-top: 12px;
  padding-right: 17px;
  color: #fff;
}




.userimg {
  max-width: 100%;
  max-height: 100%;
}

// MAILBOX CSS

.pricing-table {
  border: solid 1px #DDDDDD;

  li {
    border-bottom: dotted 1px #DDDDDD;
    font-size: 1.15rem;
    padding: 0.875rem 1.125rem;
    &:last-child {
      border-bottom: 0;
    }
  }

  .title {
    background-color: #2ecc71;
    color: #fff;
    font-size: 1.15rem;
    border-bottom: 0;
  }

  .button {
    margin: 0;
  }

}


// USER SHOW PAGE CUSTOM CSS
.profile-card {
  padding: 1rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 2rem 0;
  background-color: #fff;
  img {
    width: 8rem;
    height: 8rem;
    display: block;
    margin: 2rem auto;
    text-align: center;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #888888;
  }
  .profile-info {
    padding: 1rem;
    h4 {
      margin-top: 0;
      text-align: center;
      text-transform: uppercase;
    }
    p {
      text-align: center;
    }

    }
  }


// CSS FOR MATCHES INDEX
.box {
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 10px 25px;
  display: block;
  margin-top: 60px;
}

.box-icon {
  background-color: #2ecc71;
  border-radius: 50%;
  display: table;
  height: 100px;
  margin: 0 auto;
  width: 100px;
  margin-top: -61px;
  font-size: 3rem;
  span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
}

.info {
  h4 {
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  p {
    color: #717171;
    font-size: 16px;
    padding-top: 10px;
  }
  a {
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: all 0.5s ease 0s;
  	&:hover {
    	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    	transition: all 0.5s ease 0s;
    }
  }
}

// PAGINATION CUSTOM CSS
.pagination a {
  display: inline-block;
}

//CALLOUT CUSTOM css
.callout {
  padding: 20px 10px 10px 10px;

}

.callout.alert {
  border: 2px solid #c0392b;
  color: #c0392b;
}

.callout.success {
  border: 2px solid #27ae60;
  color: #27ae60;
}


.callout.success {
  i {
    color: #27ae60;
  }
}
